.DS_Store
**/.DS_Store
build/

*.sconsign.dblite

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
/missing
/ltmain.sh
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/NEWS
/README
/aclocal.m4
.deps/
/autom4te.cache/
/compile
!/configure.ac
/conf*
/depcomp
/install-sh
/libtool
Makefile
Makefile.in
